# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
*.txt
Makefile
*.cmake
*.a
tests/_deps
CMakeFiles
_deps
cmake-build-debug

tests/parser_test
bin/crypt

!bin/CMakeLists.txt
!lib/CMakeLists.txt
!tests/CMakeLists.txt
!CMakeLists.txt
Testing
.vscode
/lib/debug.h
